:root {
  --color-brand: #4d5ae5;
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-lighte: #ffffff;
  --color-inverted: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-primary);
  background: var(--color-lighte);
}
p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
ul {
  margin: 0;
  padding: 0px;
}

/* Header ------------------------------ */

.backround-header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0px;
}
.header-container {
  display: flex;
  gap: 40px;
}

.nav-header {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 76px;
}

.header-container-list {
  display: flex;
  gap: 40px;
}
.header-contakts {
  display: flex;
  gap: 40px;
}
.adress {
}
.nav-link {
}
ul {
  list-style: none;
}
/* логотип */

.weblogo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-brand);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logotyp {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-primary);
  text-decoration: none;
  letter-spacing: 0.03em;
}
/* Heder + contacts */
.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.02em;
  color: var(--color-primary);
}

.adress {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-secondary);
  text-decoration: none;
  letter-spacing: 0.02em;
}

/* main основной контент */
.hero-title {
  color: var(--color-lighte);
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;

  margin: auto;
  max-width: 496px;
}
/* bUTTON */
.button-studio {
  font-family: "Roboto", sans-serif;
  color: var(--color-lighte);
  background: var(--color-brand);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid transparent;
  display: inline;
}
.button-studio:hover {
  background: #404bbf;
}
.button-studio:focus {
  background: #404bbf;
}
.button-container {
  display: flex;
  column-gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}
.portfolio-button {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-inverted);
  color: var(--color-brand);
  cursor: pointer;
}
.portfolio-button:hover {
  font-family: "Roboto", sans-serif;
  color: var(--color-lighte);
  background: #404bbf;
  font-weight: 500;
}
.portfolio-button:focus {
  background: #404bbf;
  color: var(--color-lighte);
}
/* hero sektion */
.sektion-hero {
  padding-top: 188px;
  padding-bottom: 188px;

  background: var(--color-primary);

  text-align: center;
}
.hero-container {
  width: 100%;
  max-width: 1128px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*  HEADER */

.header-two-portfolio {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

/* sektion-1 */
.sektion {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.heading-three {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  align-items: center;
  margin-bottom: 8px;
}

.text {
  color: var(--color-secondary);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0%;
}
.abode-container {
  display: flex;
  gap: 24px;
}
/* sektion-2 */

.heading-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.img-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.amg-list {
  flex-basis: calc((100%-48px) / 3);
  border: 1px solid #e7e9fc;
}
.sektion-portfolio {
  padding-bottom: 120px;
  padding-top: 76px;
}
/* section-3 team card */
.sektion-backround-team {
  background: var(--color-inverted);
  padding: 120px 0;
}

.list-team {
  display: flex;
  gap: 24px;
}
.team-master {
  text-align: center;
}
.list-flex {
  flex-basis: calc((100%-72px) / 4);
}

/* ?\ FOOTER */
.logotyp-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-inverted);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.backround-footer {
  background: var(--color-primary);
  padding: 100px 0;
}
.text-footer {
  max-width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-inverted);
  margin-bottom: 0;

  margin-top: 16px;
}
.footer {
  padding-top: 100px;
  padding-left: 156px;
  padding-right: 1020px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.navigation:hover,
.navigation:focus {
  color: #4d5ae5;
}

.adress:hover,
.adress:focus {
  color: #4d5ae5;
}
.portfolio-link {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  gap: ;
}
.link-port {
}
.text-port {
  margin-bottom: ;
}
.li-card {
  flex-basis: calc((100%-48px) / 9);
}

.pading-card {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border-top: 0vw;
}
.bord-card {
  border-radius: 0px 0px 4px 4px;
}
.all {
  border-radius: 4px;
  width: 69px;
  padding: 12px, 24px, 12px, 24px;
}
.website {
  border-radius: 4px;
  width: 116px;
  padding: 1 12px, 24px, 12px, 24px;
}
.app {
  border-radius: 4px;
  width: 78px;
  padding: 12px, 24px, 12px, 24px;
}
.design {
  border-radius: 4px;
  width: 126px;
  padding: 12px, 24px, 12px, 24px;
}
